body {
  font-size: 18px;
  color: #2D3748;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  margin: 10; 
  padding: 10; 
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header"
    "main main sidebar"
    "footer footer footer";
  gap: 20px;
}


#profile-pic {
  border-radius: 50%;
  width: 270px;
  height: 250px;
  margin: 0 auto; 
}

header {
  grid-area: header;
  background-color: #63B3ED;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1 {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

main {
  grid-area: main;
}

article {
  margin-bottom: 40px;
}

h2 {
  font-size: 32px;
  color: #48BB78;
}

p, .post-info {
  color: #718096;
}


aside {
  grid-area: sidebar;
}

#about {
  background-color: #E2E8F0;
  padding: 10px;
}

#about h3,
#about p,
section h3 {
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

section h3 {
  color: #48BB78;
}


section ul a {
  color: #4299E1;
}

aside a {
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}
footer {
  grid-area: footer;
  background-color: #2C5282;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}







